/* _content/Vendas_SaintLuiger/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7nkdmfqpad] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    padding: 0%;
    margin: 0%;
}

a[b-7nkdmfqpad] {
  color: #0077cc;
}

.btn-primary[b-7nkdmfqpad] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7nkdmfqpad], .nav-pills .show > .nav-link[b-7nkdmfqpad] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  padding: 0%;
  margin: 0%;
}

.border-top[b-7nkdmfqpad] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7nkdmfqpad] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7nkdmfqpad] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7nkdmfqpad] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7nkdmfqpad] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
